server:
  bind:
    host: '::'
    port: 2020

datasets:
- in2010-pl94_171:
  packing_list: in2010.pl.prd.packinglist.txt

shapefiles:
- tippecanoe_tabblock_2010:
  type: tabblock
  file: tl_2010_18157_tabblock10.geojson

sessions:
- tippecanoe-2010:
  datasets:
  - in2010-pl94_171
  shapefiles:
  - tippecanoe_tabblock_2010
