server:
  host: '::'
  port: 2020

datasets:
  in2010-pl94_171:
    packing_list: in2010.pl.prd.packinglist.txt
    tables:
    - p1: { schema: "schemas/2010/pl94_171/p1.yml" }
    - p2: { schema: "schemas/2010/pl94_171/p2.yml" }
    - p3: { schema: "schemas/2010/pl94_171/p3.yml" }
    - p4: { schema: "schemas/2010/pl94_171/p4.yml" }
    - h1: { schema: "schemas/2010/pl94_171/h1.yml" }

shapefiles:
  tippecanoe_tabblock_2010:
    type: tabblock
    file: tl_2010_18157_tabblock10.geojson

sessions:
  tippecanoe-2010:
    datasets:
    - in2010-pl94_171
    shapefiles:
    - tippecanoe_tabblock_2010
