div.leaflet-control.uptown-controls {
	display: flex;
	width: 16px;
	height: 16px;
	background-color: #404040;
}

div.uptown-controls.collapsed {
	background-color: #ff0000;
}

div.selecting .leaflet-interactive {
	cursor: cell !important;
}
